* {
	margin: 0;
	padding: 0;
}
html {
	font-family: 'Lato', san-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: white;
}

header.app_header {
	position: relative;
	max-width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: black;
	color: white;
	clear: both;
}
	.app_title {
		float: left;
		clear: both;
		width: 405px;
		margin-left: 3%;
	}

		#ham {
			float: left;
			font-size: 2.5em;
			cursor: pointer;
		}
		h1.sanctum {
			float: right;
			color: white;
		}

		#chaper_menu {
			position: absolute;
			top: 80px;
			left: -300px;
			width: 300px;
			height: 88.5vh;
			background-color: white;
			border: 2px solid black;
			border-left: 65px solid black;
			border-radius: 5px;
			display: none;
			z-index: 1;
		}

		h3.chapter {
				color: black;
				line-height: 4em;
				padding-left: 10px;
				width: 250px;
				cursor: pointer;
			}
				h3.chapter:hover {
					background-color: black;
					color: white;
					padding-left:50px;
				}

	span.icon {
		font-family: 'FontAwesome';
		font-style: normal; 
	}
	

body {
	max-width: 100%;
	height: 800px;
}
	.main_frame {
		width: 100%;
		height: 100%;
	}
		iframe {
			width: 100%;
			height: 100vh;
			border: none;
		}